*{
    margin: 0;
    padding: 0;
}
.half-width{
    width: auto;
}
    body{
    margin:80px 80px 20px 200px ;
    max-width: 100%;
    }
    .photo-fontsize{
        font-size: xx-large;
        color: indianred;
        }
@media(max-width:992px){
body{
    display: block;
}
@media(max-width:668px){
body{
    display: block;
    }
}


